body {
	margin: 0;
	font-size: 14px;
	color: #fff;
	
	background: url("intro.jpg") no-repeat;
	background-size: cover;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 100%;
	margin: 0px auto;
}


/* HEADER*/
.header {
	display: flex;
}
.header__inner {
	display: flex;
	align-items: center;
	justify-content: space-between;

	border-bottom: 1px solid #515369;
}

.header__logo {
	margin-left: 100px;
	font-size: 36px;
}

.header__title {
    font-family: 'Open Sans', sans-serif;
    font-size: 70px;
    color: #fff;
    line-height: 71px;
    font-weight: bold;
    margin: 0 0 30px;
    text-transform: uppercase;

}

/* NAV */
.nav {
	display: flex;
	font-size: 20px;
}

.nav__link1 {
	display: flex;
	padding-left: 200px;
	font-size: 20px;
	text-decoration: none;
	color: #fff;

}
.nav__link1:hover {
	text-decoration: underline;
}

.nav__link {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-right: 70px;
	word-spacing: 10mm;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;
}
#nav__margin {
	margin-right: 200px;
}

.nav__link:hover {
	text-decoration: underline;
}

/* INTRO */
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 750px;

}

.intro__inner {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;

    text-align: center;
}

/* VIDEO */
.video {
	background-color: saddlebrown;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: center;
	position: relative;
	z-index: 1000;
}

.video__inner {
	margin: 100px 40px;
}

.video__btn {
	padding-left: 100px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	font-size: 40px;
	margin-top: 100px;
}

.video__btn:hover {
	text-decoration: underline;
}